@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", serif;
}
header {
  background-color: rgb(255, 248, 243);
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 20px, bottom right;
  padding: 20px 20px 0 20px;
}
.primary-orange {
  color: rgb(253, 110, 10);
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 230px;
}
nav h2 {
  font-size: 45px;
  font-weight: 800;
}
ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
ul li {
  list-style: none;
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.btn-primary {
  background: rgb(253, 110, 10);
  color: white;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn-secondary {
  border: 1px solid rgb(253, 110, 10);
  background-color: rgb(255, 248, 243);
  color: rgb(253, 110, 10);
  cursor: pointer;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.greet {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}
.banner-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
}
.banner-para {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
}
.banner-img {
  width: 580px;
  height: 670px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  border-radius: 10px;
  background: rgb(255, 248, 243);
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-text-section > h2 {
  font-size: 35px;
}
.about-para {
  font-size: 18px;
  margin: 30px 0;
}
.about-para,
.about-items {
  color: rgb(117, 117, 117);
}
.about-items {
  font-size: 20px;
}
.about-description {
  font-weight: 700;
}
.about-text-section {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.about-items-container {
  display: flex;
  justify-content: space-around;
}
