@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", serif;
}
header {
  background-color: rgb(255, 248, 243);
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 20px, bottom right;
  padding: 20px 20px 0 20px;
}
.primary-orange {
  color: rgb(253, 110, 10);
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 230px;
}
nav h2 {
  font-size: 45px;
  font-weight: 800;
}
ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
ul li {
  list-style: none;
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.btn-primary {
  background: rgb(253, 110, 10);
  color: white;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn-secondary {
  border: 1px solid rgb(253, 110, 10);
  background-color: rgb(255, 248, 243);
  color: rgb(253, 110, 10);
  cursor: pointer;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.greet {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}
.banner-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
}
.banner-para {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
}
.banner-img {
  width: 580px;
  height: 670px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  border-radius: 10px;
  background: rgb(255, 248, 243);
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-text-section > h2 {
  font-size: 35px;
}
.about-para {
  font-size: 18px;
  margin: 30px 0;
}
.about-para,
.about-items {
  color: rgb(117, 117, 117);
}
.about-items {
  font-size: 20px;
}
.about-description {
  font-weight: 700;
}
.about-text-section {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.about-items-container {
  display: flex;
  justify-content: space-around;
}
.radius-logo {
  border-radius: 5px;
}
.skill {
  margin-top: 130px;
}
.skill-head {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}
.skill-head-para {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
}
.skill-group {
  display: flex;
  gap: 20px;
}
.skill-title {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.skill-para {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  padding: 20px 30px 30px 0;
}
.skill-container {
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
  width: 250px;
  height: 310px;
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-head {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  padding: 130px 110px;
  text-align: center;
}
.edu h2,
.exp h2 {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 20px;
}
.edu h4,
.exp h4 {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0 20px 0;
}
.edu-box h3 {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
}
.edu-box p {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 30px;
}
.edu-container {
  display: flex;
  gap: 24px;
}
.download-btn {
  margin-top: 50px;
}
footer {
  display: flex;
  justify-content: center;
  background: rgb(255, 248, 243);
  gap: 117px;
  height: 700px;
  margin-top: 100px;
  padding-top: 130px;
}
.connect h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
}
.connect p {
  color: rgb(71, 71, 71);
  font-size: 16px;
  font-weight: 400;
  width: 560px;
  height: 50px;
  padding: 20px 0 30px 0;
}
.social-logo {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.form h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}
form {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 24px;
}
input:not(.btn-primary) {
  width: 460px;
  height: 60px;
  border-radius: 5px;
  border: none;
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  padding-left: 18px;
  border-radius: 5px;
}
textarea{
  width: 448px;
  height: 180px;
  border: none;
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  padding: 18px;
  border-radius: 5px;
  font-family: Open Sans;
  resize: none;
}
